@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth
    ;
}

:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --main-color: #cfc3b4;
    --background-color: #b2b1af;
    --color-color: rgba(128, 128, 128, 0.605)
    --hover-color: rgb(186, 186, 183);

}

body {
    background-color: #202020;
    color: var(--text-color);
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

  .title-universo {
      /* color: #aaa097; */
      color: white; 
      font-size: 3.2rem;
      font-weight: 700;
      /* z-index: 1; */
  }

.rio {
    /* font-weight: 300; */
    font-size: 28px;
    font-weight: 300;
    color: white;
}

.shopping {
  /* font-weight: 300; */
  font-size: 28px;
  font-weight: 300;
  color: white;
}

@media screen and (max-width: 1660px) {
    .shopping {
      display: none;
    }
}

.logo {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.navlist {
    display: flex;

}

.navlist a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover {
    color: rgb(225, 221, 221)
}

#menu-icon {
    font-size: 2.2rem;
    color: var(--text-color);
    z-index: 1001;
    cursor: pointer;
    margin-left: 25px;
    display: none ;
}

section {
    padding: 160px 15% 120px;
}

/* .home {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../assetsprojetos/projetoCozinha3.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
      
} */

.home {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assetsprojetos/projetoCozinha3.jpeg');
  background-size: cover;
  background-position: center;
  opacity: 0.7; /* Opacidade aplicada apenas ao fundo */
  z-index: -1;
}

.slide {
    margin-bottom: 20px;

}

.one {
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--main-color);
}

.two {
    display: inline-block;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    list-style: 1.1;
    margin: 0 0 8px;
    z-index: 1;
}

.home-text h3 {
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    z-index: 1;
}

.home-text p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 40px;
    z-index: 1;
}

.button {
    background-color: var(--main-color);
    transition: all 0.45s ease;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.estofados {
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.estofados-img2 {
    width: 800px;
    height: 800px;
}

.image-1 {
    display: flex;
    align-items: center;
    margin: 40px;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: white
}

.button:hover {
    transform: scale(0.9);
    background-color: white;
    
}

.button:hover a {
    color: var(--main-color)
}

header.sticky {
    background: var(--main-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
    gap: 1.5rem;
}

.about {
    /* background-color: #b2b1af; */
    background-color:  rgb(184, 181, 181);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;

}

.about-img img {
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2 {
    font-size: var(--text-color);
    line-height: 1;
}

.about-text h4 {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    line-height: 1.7;
    margin: 15;
}

.about-text p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 4rem;
}

.main-text h2 {
    line-height: 1;
    font-size: 1rem;
} 

.serv {
    background-color: rgb(184, 181, 181);
    margin-bottom: 60px;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 2.8rem;

}

.box {
    background: var(--main-color);
    padding: 35px 45px;
    border-radius: 8px;
    margin-top: 1rem;
    transition: all .45s ease;
}

.box-first {
    background: var(--main-color);
    padding: 35px 45px;
    border-radius: 8px;
    margin-top: 1rem;
    transition: all .45s ease;
}

.box-first h3 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;  
}

.box h3 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}

.box p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.8;
    
}

.s-icons i {
    font-size: 32px;
    margin-bottom: 20px;
}

.services {
    background-color: var(--text-color);
}

.main-text {
    text-align: center;
    color: white,

}

.main-text p {
    color: white;
    font-size: 1.6rem;
    margin: 12px;
}

.main-text h2 {
    color: white;
    font-size: 2rem;
}

.read {
    margin-top: 12px;
    display: inline-block;
    padding: 8px 18px;
    background: rgb(153, 151, 151);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    transition: all .45s ease;
}

.read:hover {
    transform: translateY(4px);
    background-color: #ffffffff;
    color: rgb(139, 137, 137);
}

.portfolio {
    background-color: rgb(118, 116, 116);
    
  
}

.portfolio-content {
    display: grid;
    align-items: center;
    column-count: 2;
    column-gap: 20px;
    gap: 2.5rem;
    margin-top: 5rem;
    width: 100%;
}

.row {
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img {
    width: 100%;
    height: 40%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
    object-fit: cover;
    
}

.contact {
    background-color: rgb(208, 208, 208);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact-text h4 {
    color: var(--bg-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2 {
    font-size: 1.2rem;
    line-height: 1;
}

.contact-text p {
    color: black;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 30px;
}

/* @media screen and (min-width: 1000px) and (max-width:1200px) {
    .row img {
        max-width: 680px;
        height: 528px;
    }
} */

@media screen and (min-width: 1040px) {
    .portfolio-content {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(450px, auto));
    }
}

@media screen and (min-width: 1245px) {
    .row img {
        max-width: 800px;
    }
}

@media (max-width: 1480px) {
    header {
        padding: 12px 2.5%;
        transition: 1s;
    }
    header.sticky {
        padding: 10px 2.5%;
        transition: 1s;
    }
    section {
        padding: 110px 3% 60px;
    }
    .end {
        padding: 15px 3%;
    }
}

@media (max-width: 1100px) {
    
}

@media (max-width: 920px) {
    .about {
        grid-template-columns: 1fr;
    }
    .about-img {
        text-align: center;
        order: 2;
    }
    .about-img img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    
}

@media (max-width: 840px) {
    #menu-icon {
        display: block;
    }
    .navlist {
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--main-color);
        text-align: left;
        transition: all .45s ease;
    }
    .navlist a {
        text-align: center;
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: #f9f9f9;
    }
    .navlist a:hover {
        color: gray;
    }
    .open {
        top: 0;

    }
}

@media screen and (min-width:800px) and (max-width:1252) {
    .image-2 {
        margin-left: auto;
    }
}

footer {
    width: 100%;
    min-height: 250px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: -200px; */
}

.boxs {
    width: 320px;
    min-height: 150px;
    padding: 20px;
}

.boxs h2 {
    color: white;
    margin-bottom: 20px;
}

.boxs ul li {
    margin: 10px 0px;
    list-style: none;
}

.boxs ul li a {
    color: white;
    text-decoration: none;
}

.boxs ul li a:hover {
    color: rgb(226, 223, 223);
}

.boxs p {
    color: white;
    text-align: justify;
}

i {
    font-size: 30px;
}

li {
    color: white;
    display: flex;
    align-items: center;
}

@media (max-width: 550px) {
    footer {
        flex-direction: column;
    }
}

.link {
    display: none;
  }
  
  .linkShow {
    display: block;
  }
  
  .catalagoTitle {
    text-align: center;
    color: #aaa097;
    padding: 8px;
  }
  
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 12px;  
  }
  
  .btnCloseDiv {
    margin-top: 12px;
    display: flex;
    justify-content: end;
  }
  
  .btnClose {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: gray;
   }
  
  .linkBaixar {
    color: gray;
    font-size: 24px;
  }
   
  .inputsData {
    height: 40px;
    width: 24vw;
    outline: none;
    /* border: 0.8px solid lightgray; */
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-color: lightgray;
    font-size: 24px;
  }
  
  .inputsData::placeholder {
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  
  .titleModal {
    color: gray;
  }
  
  .buttonSubmitDiv {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .buttonSubmit {
    text-align: center;
    border-radius: 4px;
    width: 24vw;
    height: 5vh;
    outline: none;
    border: 1px solid lightgray;
    font-size: 16px;
    color: gray;
  
  }
  
  .loading {
    width: 32px;
    animation: spin 1.2s infinite linear;
  }
  
  .overlay {
    display: none;
  
  }

  .overlayShow {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.8);
    backdrop-filter: blur(4.5px);
    position: fixed;
    display: flex;
    align-items: center;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .catalagos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
    margin-bottom: 200px;
    background-color: white;
    margin-top: -100px;
  }
  
  .catalago {
    border: 1px solid rgb(173, 173, 173);
  }
  
  .buttonBaixarDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btnB {
    margin: 2px;
    width: 100%;
    font-size: 16px;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    background-color: #cfc3b4;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: -2px;
  }
  
  .btnB:hover {
    background-color: rgb(204, 202, 202);
    transition: 0.1s ease-in-out;
  }
  
  hr {
    border: 0px;
    border-top: 1px solid lightgray;
  }
  
  .modalContainer {
    margin-top: 100px;
    width: 64vw; 
    margin-left: 18vw;
    height: 50vh;
    position: fixed;
    top: 30px;
    display: none;
    z-index: 999;
    justify-content: center;
    align-items: center;
  }

  .modal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
  }
  
  .active {
    display: flex;
  }
  
  .active .modal {
    animation: modal .4s;
  }
  
  @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  span {
    margin: 10px auto;
  }
  
  .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
   @media (max-width: 1200px) {
    .catalagos {
      flex-wrap: wrap;

    }
    .modal {
      padding: 10px;
      width: 80%;
    }   
  
    .inputsData {
      width: 72vw;
      height: 4vh;
      font-size: 16px;
    }
  
    .inputsData::placeholder {
      font-size: small;
    }
  
    .catalagos img  {
      width: 56vw;
      display: flex;
    }
  
    .btnB {
      width: 100%;
      height: 40px;
      font-size: 12px;
      padding: 12px;
      border: 1px solid lightgray;
    }
  
    .modalContainer {
      width: 100vw;
      min-width: 80vw;
      margin: 100px auto;
    }

    .modalContainer {
        width: 100vw;
        min-width: 80vw;
        margin: 100px auto;
      }
  
    .buttonSubmit {
      width: 74vw;
      height: 4.8vh;
    }
    
    .btnCloseDiv {
      margin-top: 2px;
      font-size: 16px;
    }
  
    .titleModal {
      margin-left: 12px;
    }
  
    .linkBaixar {
      font-size: 16px;
    }
  
  
   }

.containerForm {
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(224, 223, 223);
}  

.containerForm h1 {
    color: rgb(164, 161, 161);
    margin-top: 16px;
}

#form2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form2 input, textarea {
    width: 680px;
    height: 64px;
    margin-top: 24px;
    border: none;
    outline: none;
}

#form2 input::placeholder, textarea::placeholder {
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

#form2 input:focus,
#form2 textarea:focus {
    outline: none;
    padding-left: 8px;
}


#form2 button {
    margin-bottom: 24px;
    width: 680px;
    height: 64px;
    margin-top: 24px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    color: gray;
}

#form2 button:hover {
    transition: 0.2s ease-in-out;
    background-color: lightgray;
}

@media screen and (max-width: 800px) {
    .contact-form input{
        width: 100%;
        padding: 8px 0;
        margin: 8px 0;
    }
    
    .contact-form input[type=text] {
        height: 100px;
    }
        
    .containerForm {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        margin-top: -200px;
        color: gray;
    }
    
    #form2 input,
    #form2 textarea,
    #form2 button {
        display: block;
        width: 100%;
    }
    
    #form2 input,
    #form2 textarea {
        font:inherit;
        border: 0.8px solid rgb(167, 167, 167);
        border-radius: 8px;
        padding: 0.8rem;
        height: 52px;
                
    }
    
    #form2 input:hover,
    #form2 input:focus,
    #form2 textarea:hover,
    #form2 textarea:focus {
        outline: none;
    }
    
    #form2 button {
        width: 100%;
        background-color: #b2b1af;
        height: 52px;
        color: white;
        border: none;
        border-radius: 8px;
    }
    
    .containerForm h1 {
        padding-left: 8px;
        font-size: 24px;
        margin-bottom: 24px;
    }


button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

}

.container {
  /* max-width: 2200px; */
  max-width: 1200px;
}
.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 525px;
  height: 480px;
  object-fit: cover;
}
.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
