@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    
}

body {
    background-color: white;
}

:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --main-color: #cfc3b4;
    --background-color: #b2b1af;
    --color-color: rgba(128, 128, 128, 0.605)
    --hover-color: rgb(186, 186, 183);

}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.title-universo {
    color: rgb(181, 181, 181);
    font-size: 3.2rem
}

.logo {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.rio {
    /* font-weight: 300; */
    font-size: 28px;
    font-weight: 300;
    color: white;
}

.navlist {
    display: flex;

}

.navlist a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist li a {
    font-size: 1rem;
}

.navlist a:hover {
    color: rgb(225, 221, 221)
}

#menu-icon {
    font-size: 2.2rem;
    color: var(--text-color);
    z-index: 1001;
    cursor: pointer;
    margin-left: 25px;
    display: none ;
}

main {
    margin-top: 100px;
    /* background-color:  rgb(235, 234, 234); */
    background-color: white;

}

@media (max-width: 840px) {
    #menu-icon {
        display: block;
    }
    .navlist {
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--main-color);
        text-align: left;
        transition: all .45s ease;
       
    }
    .navlist a {
        text-align: center;
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: #f9f9f9;
    }
    .navlist a:hover {
        color: gray;
    }
    .open {
        top: 0;

    }


    main {
        margin-top: 100px;
    }
}

.popUp {
    text-align: center;
    margin-top: -42px;
    margin-left: 40px;
    width: 360px;
    /* height: 480px; */
    margin: 28% auto;    
    padding: 20px;
    background: white;
    border-radius: 6px;
    

} 

.buttonPopUp {
    font-size: 28px;
    background-color:  var(--background-color);
    color: white;
    border: none;
    border: 0;
    cursor: pointer;
    padding: 4px 10px;
    display: flex;
    border-radius: 4px;
}

.popUpWrapper {
    margin-top: 60px;
    background-color: rgb(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 0.8s;
}

@media screen and (min-width: 1250px) {
    .popUpWrapper {
        margin-top: -260px;
        background-color: rgb(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 160%;
        transition: top 0.8s;
    }
}

.popUpDisplay {
    display: none;
}

.h2PopUp {
    font-size: 28px;
    color: #8e867c;
}

.pContent {
    font-size: 16px;
    color: black;
}

 @media screen and (max-width: 910px) {

    main {
        margin-top: 100px;
    }
    .containerCenter {
        text-align: center;
    }

    .imgAcabamento {
        width: 260px;
        height: 260px; 
        box-shadow: 0 0 10px rgba(0,0,0,0.6);
        margin-top: 22px;
       
    }
  
    .acabamentoName {
        font-size: 20px;
        color: gray;
        text-transform: uppercase;
    }
    
    .divName {
        height: 20px;
        margin-top: 20px;
        text-align: center;
    }

    .p_img {
        font-size: 24px;
        margin-top: 40px;
        z-index: 1;
        
    }

    .containerHeader {
        display: flex;
        justify-content: center;
    }

}  

@media screen and (min-width: 1300px) and (max-width: 2800px) {

    /* .containerCenter:hover {
        transform: scale(50px);
    }   */
    .imgAcabamento {
        width: 258px;
        height: 258px;
        box-shadow: 0 0 10px rgba(0,0,0,0.6);
        margin-top: 22px;
       
    }
              
    .acabamentoName {
        font-size: 20px;
        color: gray;
        text-transform: uppercase;
    }
    
    .divName {
        height: 20px;
        margin-top: 20px;
        text-align: center;
    }

    .p_img {
        font-size: 24px;
        margin-top: 40px;
        z-index: 1;
        
    }
    
    .containerHeader {
        display: flex;
        justify-content: center;
    }
    
    main {
        margin-top: 180px;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        align-items: center;
    
    }

    .navlist a {
        color: var(--text-color);
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0 25px;
        transition: all .45s ease;
    }

} 

@media screen and (min-width: 599px) and (max-width: 1390px) {
    .containerCenter:hover {
        transition: ease-in-out 0.5s;
    }

    .containerCenter:hover {
        transform: scale(50px);
    }

    .imgAcabamento {
        width: 258px;
        height: 258px;
        box-shadow: 0 0 10px rgba(0,0,0,0.6);
        margin-top: 22px;
       
    }
              
    .acabamentoName {
        font-size: 20px;
        color: gray;
        text-transform: uppercase;
    }
    
    .divName {
        height: 20px;
        margin-top: 20px;
        text-align: center;
    }

    .p_img {
        font-size: 24px;
        margin-top: 40px;
        z-index: 1;
        
    }
    
    .containerHeader {
        display: flex;
        justify-content: center;
    }

    main {
        margin-top: 140px;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        align-items: center;
        

    }

}

footer {
    margin-top: 100px;
    width: 100%;
    min-height: 250px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxs {
    width: 320px;
    min-height: 150px;
    padding: 20px;
}

.boxs h2 {
    color: white;
    margin-bottom: 20px;
}

.boxs ul li {
    margin: 10px 0px;
    list-style: none;
}

.boxs ul li a {
    color: white;
    text-decoration: none;
}

.boxs ul li a:hover {
    color: rgb(226, 223, 223);
}

.boxs p {
    color: white;
    text-align: justify;
}

i {
    font-size: 30px;
}

li {    
    color: white;
    display: flex;
    align-items: center;
}

@media (max-width: 550px) {
    footer {
        flex-direction: column;
    }
}